pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/
.hljs {
  color: #D8DEE9;
  background: #303841
}
.hljs-comment,
.hljs-quote {
  color: #A6ACB9;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #C695C6
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75
}
.hljs-literal {
  color: #EC6066;
  font-style: italic
}
.hljs-string-quote {
  color: #5AB2B4
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #99C794
}
.hljs-type {
  color: #C695C6;
  font-style: italic;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #F9AE57
}
.hljs-backslash,
.hljs-meta,.hljs-meta>.hljs-keyword{
  color: #C695C6
}
.hljs-declare {
  color: #59B4B4
}
.hljs-symbol{
  color: #F97B57
}
.hljs-built_in,
.hljs-bullet,
.hljs-link,
.hljs-selector-id,
.hljs-title {
  color: #6099CC
}
.hljs-emphasis {
  font-style: italic
}
.hljs-strong {
  font-weight: bold
}
.hljs-link {
  text-decoration: underline
}